<div class="add-team-form card">
  <div>
    <h4>Add A New Team</h4>
      <div>
        <label>Team Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>About:</label>
        <br>
        <textarea #newAbout></textarea>
      </div>

      <button (click)="submitTeamForm(newName.value, newAbout.value)">Add</button>
    </div>
</div>

<div class="add-member-form card">
  <div>
    <h4>Add A New Player To A Team</h4>
      <div>
        <label>Player Name:</label>
        <br>
        <input #newMemberName>
      </div>

      <div>
        <label>Age:</label>
        <br>
        <input #newMemberAge>
      </div>

      <div>
        <label>Skill Level:</label>
        <br>
        <input #newMemberSkill>
      </div>

      <div>
        <label>About:</label>
        <br>
        <input #newMemberAbout>
      </div>

      <div>
        <select #newMemberTeamId>Select Team:
        <br>
        <option *ngFor="let team of teams" value={{team.$key}}>{{team.name}}</option>
        </select>
      </div>

      <button (click)="submitMemberForm(newMemberName.value, newMemberAge.value, newMemberSkill.value, newMemberAbout.value, newMemberTeamId.value); newMemberName.value=''; newMemberAbout.value=''; newMemberAge.value=''; newMemberSkill.value; newMemberTeamId.value">Add</button>
    </div>
</div>

<div class="edit-teams">
  <div *ngFor="let team of teams">
    <input type="text" [(ngModel)]="team.name"><br>
    <textarea [(ngModel)]="team.about"></textarea><br>
    <button (click)="updateTeam(team)">Update</button>
    <button (click)="deleteTeam(team)">Delete</button>
    <hr>
  </div>
</div>
